langchain==0.1.15
langchain_community==0.0.38
unstructured==0.17.2
unstructured[doc]==0.17.2
python-magic==0.4.27
python-magic-bin==0.4.14
python-docx==1.1.2
pypdf==5.5.0
streamlit==1.45.1
huggingface_hub==0.31.2
faiss-cpu==1.11.0
sentence-transformers==4.1.0
python-dotenv==1.1.0
langchain-google-genai==1.0.4
chromadb==0.4.22
nest-asyncio==1.6.0
